@import "./partials";

body {
  margin: 0;
  padding: 0;
  background-color: $body-color;
  overflow-x: hidden;
}

.oefening1 {
  @include border-bottom;
  @include border-top;
  margin-top: 5%;
  margin-left: 35%;
}

.omschrijving {
  font-size: $font-size;
  color: $font-color;
  text-align: left;
  line-height: 40px;
  width: 350px;
  height: 350px;
  background-color: $primary-color;
  padding: $padding;
  padding-bottom: 30px;
  @include border-top;
}

.informatie {
  background-color: $secundary-color;
  padding: $padding;
  @include border-bottom;
  width: 350px;
  .foto {
    display: block;
    margin: -90px auto 0;
    border-radius: 50%;
    border: 8px solid $primary-color;
  }
  .naam {
    @include text;
  }
  .website {
    @include text;
    color: $website-color;
  }
}

footer {
  margin-bottom: 18vh;
}

/*responsive site*/
.container {
  @include flex;
  flex-direction: column;
  margin-left: 25px;
  width: 50vw;
}

.image {
  position: relative;
  width: auto;
  margin: 10px;
  text-align: center;
  margin-left: -25vw;
  margin-right: 10vw;
  .image__img {
    width: 100%;
    height: auto;
    border-radius: $border-radius;
  }
  .image__title {
    font-size: $font-size;
    font-weight: bold;
    color: black;
    border: 4px solid $primary-color;
    background-color: $primary-color;
  }
}

.image__overlay {
  position: absolute;
  top: 0;
  left: 0;
  @include width-height;
  @include flex;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.image__overlay:hover {
  opacity: 1;
  color: $primary-color;
  background-color: $hover-color;
  border-radius: $border-radius;
}

/* social-media*/
.social {
  @include social-flex;
  @include margin-social;
  cursor: pointer;
  height: 100%;
}

.social a {
  color: #fff;
  font-size: 20px;
  font-weight: $font-weight;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  margin-right: -16.5vw;
  width: 300px;
  height: 7vh;
  padding-left: 10px;
  transition: 0.5s;
  transition-property: transform;
}

.social a:hover {
  transform: translate(-250px, 0);
}

.social i {
  font-size: $font-size;
  display: inline-block;
  margin-right: 30px;
  font-weight: $font-weight;
  padding: 10px;
  width: 5px;
}

.social a:nth-child(1) {
  background-color: #3b5998;
}

.social a:nth-child(2) {
  background-color: #00aced;
}

.social a:nth-child(3) {
  background-color: #007bbb;
}

.social a:nth-child(4) {
  background-color: #333;
}

.social a:nth-child(5) {
  background-color: #e17b77;
}

@media only screen and (min-width: 720px) {
  .container {
    position: relative;
    width: 65vw;
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 18vw;
    margin-left: 5vw;
  }

  @media only screen and (min-width: 1020px) {
    .container {
      position: relative;
      width: 100%;
      display: grid;
      grid-template-columns: 10vw 10vw 10vw;
      column-gap: 18vw;
      margin-left: 1rem;
    }
  }
}
